<div class="container">
  <div class="panel panel-default">
    <div class="panel-body">
      <div class="card">
        <img src="{{user.imageUrl}}" alt="Avatar" style="width:100%;height: 60vh;">
        <div class="img-container">
          <h4><b>{{user.firstname}} {{user.lastname}}</b></h4>
          <p>{{user.email}}</p>
          <p>{{user.phonenumber}}</p>
          
        </div>
      </div>
    </div>
    <div class="panel-footer" style="margin-top: 5px;">
      <button type="button" class="btn btn-info btn-sm">
        <a routerLink="/list">Back</a>
      </button>
    </div>
  </div>
</div>